/*Reset Css*/
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
html{
  scroll-behavior: smooth;
}
a{
  font-family: "Roboto Mono", Sans-Serif;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
h1{
  font-family: "Roboto Mono", Sans-Serif;
  font-weight: bold;
} 
p {
	font-family: "Roboto", Sans-Serif;
  font-weight: 400;
	}
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #000;
  }
  
  .active {
    background-color: #042940;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

  .btn{
    border-radius: 20px;
    padding: 1rem 2rem;
    background-color: black;
    color: white;
  }  
  .btn:hover{

    background-color: #808080;

  }
  .Home{
     
    display: flex;
    height: calc(100vh - 44px);
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
    background-color: #042940;
    color: white;
  }
  .image:hover  {
  box-shadow: inset 0 0 0 25px #53a7ea;
}
  
  .logos{
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    font-size: 120px;
    background-color: black;
    justify-content: center;
    align-items: center;

  }
  .img img{

    width: 300px;
    height: 300px;
    border-radius: 50%;

  }
  btn{
        border-radius: 10px;
        color: white;
        background-color: #000;
        
  }
  .Home p {
      max-width: 600px;
      color: white;
      font-size: 1.3rem;
      margin: 2rem;
      text-align: justify;
  }
  .Home h1{

        font-size: 4rem;

  }
  .informativo{
    display: flex;
    height:100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #D2691E;
    color: white;
  }
  .informativo p {
      max-width: 600px;
      color: white;
      font-size: 1.3rem;
      margin: 2rem;
      text-align: justify;
  }
  .informativo h1{
    font-size: 4rem;
  }

  .atuacao{
    display: flex;
    height:100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #8B0000;
    color: white;
  }
  .atuacao p {
      max-width: 600px;
      color: white;
      font-size: 1.3rem;
      margin: 2rem;
      text-align: justify;
  }
  .atuacao h1{
    font-size: 4rem;
  }
  .projetos{
    display: flex;
    height:100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #4AD934;
    color: white;
  }
  .projetos p{
    max-width: 600px;
    color: white;
    font-size: 1.3rem;
    margin: 2rem;
    text-align: justify;
  }
  .projetos h1{
    font-size: 4rem;
  }
  .cards{
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 1200px;
    
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  
  }
.card1{ 
  margin: 0 auto;
  text-align: center;
  width: 300px;
  height: 220px;
  border-color: black;
  border: solid 1px ;
  border-radius: 10px;
}
.card2{ 
  margin: 0 auto;
  text-align: center;
  width: 300px;
  height: 220px;
  border-color: black;
  border: solid 1px ;
  border-radius: 10px;
}
.card3{ 
  margin: 0 auto;
  text-align: center;
  width: 300px;
  height: 220px;
  border-color: black;
  border: solid 1px ;
  border-radius: 10px;
  
}
.card3 h3{

    text-align: center;
    font-size: 30px;
}
.card1 h3{

  text-align: center;
  font-size: 30px;
}
.card2 h3{

  text-align: center;
  font-size: 30px;
}
.btn-cards{
  
}

 
 

